/* ======================================
   TABLES
====================================== */

.table-container{

    background:var(--graphite);

    border:1px solid var(--border);

    border-radius:18px;

    overflow:hidden;

    margin-top:25px;

}

.table{

    width:100%;

    border-collapse:collapse;

}

.table thead{

    background:var(--gold);

}

.table th{

    color:black;

    padding:18px;

    text-align:left;

    font-weight:600;

}

.table td{

    padding:18px;

    border-bottom:1px solid var(--border);

}

.table tbody tr{

    transition:.3s;

}

.table tbody tr:hover{

    background:#242424;

}

.action-buttons{

    display:flex;

    gap:10px;

}
.table td,
.table th{

    vertical-align:middle;

}

.table td{

    color:var(--white);

}

.table tbody tr:last-child td{

    border-bottom:none;

}