<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Dashboard</title>

    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/animations.css}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<div th:replace="fragments/sidebar :: sidebar('dashboard')"></div>

<div th:replace="fragments/header :: header"></div>

<div class="main-content">

    <h1 class="page-title">
        Dashboard
    </h1>

    <div class="dashboard-grid">

        <div class="dashboard-card">

            <i class="fa-solid fa-users"></i>

            <h3>Total Members</h3>

            <h2 th:text="${totalMembers}">
                0
            </h2>

        </div>

        <div class="dashboard-card">

            <i class="fa-solid fa-id-card"></i>

            <h3>Membership Plans</h3>

            <h2 th:text="${totalPlans}">
                0
            </h2>

        </div>

        <div class="dashboard-card">

            <i class="fa-solid fa-dumbbell"></i>

            <h3>Trainers</h3>

            <h2 th:text="${totalTrainers}">0</h2>

        </div>

        <div class="dashboard-card">

            <div class="card-icon">
                <i class="fa-solid fa-calendar-check"></i>
            </div>

            <h3>Attendance</h3>

            <h2 th:text="${totalAttendance}"></h2>

        </div>

        <div class="dashboard-card">

            <i class="fa-solid fa-wallet"></i>

            <h3>Revenue</h3>

            <h2>₹<span th:text="${totalRevenue}">0</span></h2>

        </div>

    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>