<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Reports</title>

    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/animations.css}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<div class="layout">

    <aside class="sidebar"
           th:replace="~{fragments/sidebar :: sidebar(activePage='reports')}">
    </aside>

    <div class="main-wrapper">

        <header th:replace="~{fragments/header :: header}"></header>

        <main class="main-content">

            <h1 class="page-title">Reports</h1>

            <div class="dashboard-grid">

                <div class="dashboard-card">
                    <i class="fa-solid fa-users"></i>
                    <h3>Total Members</h3>
                    <h2 th:text="${totalMembers}"></h2>
                </div>

                <div class="dashboard-card">
                    <i class="fa-solid fa-dumbbell"></i>
                    <h3>Total Trainers</h3>
                    <h2 th:text="${totalTrainers}"></h2>
                </div>

                <div class="dashboard-card">                    <i class="fa-solid fa-id-card"></i>
                    <h3>Membership Plans</h3>
                    <h2 th:text="${totalPlans}"></h2>
                </div>

                <div class="dashboard-card">                    <i class="fa-solid fa-calendar-check"></i>
                    <h3>Attendance</h3>
                    <h2 th:text="${totalAttendance}"></h2>
                </div>

                <div class="dashboard-card">                    <i class="fa-solid fa-box"></i>
                    <h3>Equipment</h3>
                    <h2 th:text="${totalEquipment}"></h2>
                </div>

                <div class="dashboard-card">                    <i class="fa-solid fa-money-bill-wave"></i>
                    <h3>Payments</h3>
                    <h2 th:text="${totalPayments}"></h2>
                </div>

                <div class="dashboard-card">                    <i class="fa-solid fa-indian-rupee-sign"></i>
                    <h3>Total Revenue</h3>
                    <h2 th:text="'₹' + ${totalRevenue}"></h2>
                </div>

            </div>

        </main>

        <footer th:replace="~{fragments/footer :: footer}"></footer>

    </div>

</div>

</body>
</html>