<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<header th:fragment="header" class="header">

    <div class="header-left">

        <div class="search-box">

            <i class="fa-solid fa-magnifying-glass"></i>

            <input type="text"
                   placeholder="Search members, plans...">

        </div>

    </div>

    <div class="header-right">

        <button class="icon-btn">
            <i class="fa-regular fa-bell"></i>
        </button>

        <button class="icon-btn">
            <i class="fa-regular fa-envelope"></i>
        </button>

        <div class="profile">

            <div class="avatar">
                A
            </div>

            <div>

                <h4>Administrator</h4>

                <small>Titan Fitness Club</small>

            </div>

        </div>

    </div>

</header>

</body>

</html>