<div class="topbar" th:fragment="header">

    <div class="search-box">
        <i class="fa-solid fa-search"></i>
        <input type="text" placeholder="Search...">
    </div>

    <div class="top-right">

        <i class="fa-regular fa-bell"></i>

        <i class="fa-regular fa-envelope"></i>

        <div class="profile">

            <div class="avatar">
                M
            </div>

            <div>
                <strong>Member</strong><br>
                Titan Fitness Club
            </div>

        </div>

    </div>

</div>