<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Membership</title>

    <link rel="stylesheet" th:href="@{/css/member-dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/member/membership.css}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

<div th:replace="fragments/member-sidebar :: sidebar"></div>

<div class="main-content">

    <div th:replace="fragments/member-header :: header"></div>

    <div class="dashboard-content">

        <h1>MEMBERSHIP</h1>

        <div class="profile-card">

            <h2 th:text="|${planName} Membership|">Membership</h2>

            <div class="profile-info">

                <p><strong>Plan:</strong> <span th:text="${planName}">Plan</span></p>

                <p><strong>Duration:</strong> <span th:text="${duration}">Duration</span></p>

                <p><strong>Start Date:</strong> <span th:text="${startDate}">Start date</span></p>

                <p><strong>Expiry Date:</strong> <span th:text="${expiryDate}">Expiry date</span></p>

                <p><strong>Status:</strong>
                    <span th:text="${membershipStatus}">Status</span>
                </p>
                <p><strong>Latest payment:</strong> <span th:text="${latestPaymentStatus}">Payment status</span></p>

            </div>

        </div>

    </div>

</div>

</body>
</html>
