<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<header th:fragment="header" class="header">

    <div class="header-left">

        <form class="search-box" th:action="@{/members}" method="get" role="search" aria-label="Search members">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" name="q" placeholder="Search members..." th:value="${searchQuery}" aria-label="Search members by name, email, or member ID">
            <button type="submit" aria-label="Submit member search">Search</button>
        </form>

    </div>

    <div class="header-right">

        <a class="icon-btn" th:href="@{/announcements}" title="Announcements" aria-label="Announcements">
            <i class="fa-solid fa-bullhorn"></i>
        </a>

        <div class="profile">

            <div class="avatar">
                A
            </div>

            <div>

                <h4 sec:authentication="name">Administrator</h4>

                <small>Titan Fitness Club</small>

            </div>

        </div>

    </div>

</header>

</body>

</html>
