/* ======================================
   DASHBOARD
====================================== */

.dashboard-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

    gap:25px;

}

.dashboard-card{

    background:var(--graphite);

    border-radius:18px;

    border:1px solid var(--border);

    padding:30px;

    transition:.35s;

}

.dashboard-card:hover{

    transform:translateY(-8px);

    border-color:var(--gold);

}

.dashboard-card i{

    font-size:32px;

    color:var(--gold);

    margin-bottom:18px;

}

.dashboard-card h3{

    color:var(--gray);

    margin-bottom:10px;

}

.dashboard-card h2{

    color:white;

    font-size:34px;

}