.profile-card{
    background:#1f1f1f;
    border:1px solid #d4af37;
    border-radius:18px;
    padding:35px;
    max-width:700px;
    box-shadow:0 0 20px rgba(212,175,55,.15);
}

.profile-card h2{
    color:#d4af37;
    margin-bottom:25px;
    border-bottom:1px solid #777;
    padding-bottom:15px;
}

.profile-info p{
    font-size:20px;
    margin:20px 0;
}

.profile-info strong{
    color:#ffffff;
}

.profile-info span{
    color:#4CAF50;
    font-weight:bold;
}
